<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Stict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="x-ua-compatible" content="IE=edge">
  <meta name="renderer" content="webkit">

  <title class="ng-binding">[[${platform}]] - 安装教程</title>
  <link rel="icon" type="image/x-icon" th:href="@{/images/favicon.ico}" />
  <link rel="stylesheet" th:href="@{/css/icons.css}">
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/manage.css}">
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <script type="text/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>
</head>

<body>
  <div class="container">
    <img th:src="@{/images/install_crt.gif}"/>
  </div>

</body>

</html>